*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #212428;
}
.hero{
    background-image: url(img\ one.jpg);
    height: 274px;
    background-position: center center;
    background-repeat: no-repeat;
}


.conteiner{
    width: 98%;
    height: 39%;
    background-color:#202327;
    position: absolute;
    display: flex;
    transform: translate(.8%,-35%);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #1c1e22;;
}

.img-two img{
    border: 5px solid #000;
    border-radius: 10px;
    transform: translate(15%,-35%)
}
.heder-text{
    padding: 1rem 0 0 3rem;
}

.text{
    margin-bottom: 2rem;
}

.fast-text{
    font-size: 32px;
    color: #C4CFDE;
    font-family: sans-serif;
    font-weight: 650;
    margin-bottom: 1rem;
}

.secend-text{
    font-size: 18px;
    font-family: sans-serif;
    color: #828893;
    font-weight: 700;
}

.icon{
    width: 80%;
    height: 30%;
    margin-top: 20px;
    display: flex;
    gap: 1rem;
    padding: 20px 0px 20px 0px;
}
.icon1,
.icon2,
.icon3{
    border-radius: 6px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( -45deg, rgba(82, 82, 82, 0.11), #22262A );
    background-color: #212428;
}

.icon1:hover ,
.icon2:hover,
.icon3:hover{
    transform: translate(0%,-10%);
    transition-duration: 0.3s;
    background-color:#181A1E;
}
.vl{
    width: 1px;
    height: 90%;
    background-color: rgb(1, 2, 3);
    margin: 1% 1% 0 12.5%;
}
.self{
    display: grid;
    grid-template-columns: auto auto;
    margin: 5% 0 0 6%;
    gap: 15px;
}

.pop{  
    font-size: 14px; 
    font-family: sans-serif;                   
    color: #A4AEBA;
}
.hop{
    font-size: 18px;
    font-family: sans-serif;
    color: #C4CFDE;
}

.master{
    height: 200px;
}

.profile{
    display: flex;

}

li{
    color: white;
    list-style: none;
}   

a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 40px 30px;
    border-radius: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.li1:hover{
    background-color:#FF014F;
    color: black;
    border-radius: 10px;
}

.fastwork{
    height: 510px;
    background-color:#202226;
    box-shadow: 8px 8px 25px  rgb(0, 0, 0);    /* background-color:#202327; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1% 1%;
    border-radius: 10px;
    margin-left: 1%;
}
a:focus{
    background-color: #E30349;
    width: 100%;
}
.secendwork{
    width: 84%;
    height: auto;
    border-radius: 10px;
    background-color:#202226;
    box-shadow: 0 0 30px rgba(255, 255, 255,0.103);
  
    margin-left: 25px;
    padding: 3% 4%;
}

.main{
    display: flex;
}

.img-boder{
    height: 480px;
    border-radius: 10px;
}
.conteiner1{
    padding-left: 6%;

}
.number-one{
    margin-top: 50px;
}

.text1{
    margin-top: 3%;
    color: #F9004D;
    font-size: 14px;
    font-family: sans-serif;
}
.text2{
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 32px;
    color: white;
}
.para1{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family:sans-serif ;
}
.brother1,
.brother2,
.brother3{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: white;
    gap: 1rem;

}
.imgtag1,
.imgtag2,
.imgtag3{
    height: 20px;
}

.newbox{
    color:#E30349;
    border-radius: 10px;
    margin-top: 75px;
    width: 35%;
    height: 60px;
    padding-top: 3.5%;
    background-color: #1B1D21;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-shadow:-10px -10px 10px rgb(29, 28, 28);
}

.newbox:hover{
    transform: translate(0%,-10%);
    transition-duration: 0.8s;
    background-color:#181A1E;
}

.father{
    display: flex;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center    ;
    width: 40%;
    height: 13%;
    border-radius: 8px;
    background-color: #1F2226;
    box-shadow: -1px -1px 10px rgba(255, 255, 255,0.103);

}

.dwork{
    display: flex;
    justify-content: center;
}

.doing{
    color: white;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.three{
    width: 100%;
    height: 100%;
}

.felx{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 3rem;
    gap: 1rem;
}

.box1{
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-color: #202226;
    padding: 20px;
    border: 1px solid black;
}
.ndpng{
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.stack:hover{
    color: red;
}

.stack{
    display: flex;
    justify-content: center;
    /* margin-left: 25%; */
    font-weight: 900;
    font-size: 20px;
}
.lorem1{
    text-align: center;
    color: #878E7C;
    font-size: 25px;
    padding:15px;
}
.ancoe{
    padding: 20px;
}
.ancoe:focus{
     background-color: transparent;
}
.ancoe:hover{
    color: #E30349;
}

/* .box2{
    width: 50%;
    border-radius: 10px;
    height: auto;
    background-color: #202226;
    padding: 20px;
    border: 1px solid black;
} */
/* .ndpng2{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.stack2:hover{
    color: red;
}

/* .stack2{
    display: flex;
    margin-left: 34%;
    font-weight: 700;
} */
/* .lorem2{
    text-align: center;
    color: #878E7C;
    font-size: 25px;
} */
.ancoe2:focus{
     background-color: transparent;
}
.ancoe2:hover{
    color: #E30349;
}

.text3{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 800
}
.Jihad{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 3rem;
    gap: 2rem;
}

.coto1{
    height: auto;
     /* background-image: linear-gradient(to right, #212428;  */
    background-color:#212428;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -10px -10px 25px #2d2e31;
}

.one{
    height: 2px;
    width: 100%;
    border: none;
    background-color: black;
    margin: 10px 0;
}
.one3{
    height: 2px;
    width: 100%;
    border: none;
    background-color: black;
    justify-content: center;
    margin-top: 40px;
}
.one2{
    height: 2px;
    width: 100%;
    border: none;
    background-color: black;
    justify-content: center;
    margin-top: 25px;
}

.two{
    height: 1%;
    width:98%;
    margin: 100px 10px;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
}

.coto1:hover{
    transform: translate(0);
    background-color: rgb(50, 57, 61);
}

.para5{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: white; */
    color: rgb(102, 98, 98);
    display: flex;
    justify-content: center;
    padding: 80px;
}

